In [ ]:
#sequence sum
#1/1! + 2/2! + 3/3!.....................

n = int(input("Enter n "))
result=0
fact=1

for i in range(1, n+1):
    fact=fact*i
    result=result+(i/fact)
print(result)

Enter n 5
2.708333333333333

In [ ]:
# Nested loops
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
#pattern 1
# *
# * *
# * * *
# * * * *
row = int(input("Enter number of rows "))

for i in range(1, row+1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

Enter number of rows 4
*
* *
* * *
* * * *

In [ ]:
#pattern 2
row = int(input("Enter number of rows "))

for i in range(row, 1,-1):
    for j in range(i,1,-1):
        print("*", end=" ")
    print()

Enter number of rows 5
* * * *
* * *
* *
*

In [ ]:
#pattern 3

row = int(input("Enter number of rows "))

for i in range(1, row+1):
    for j in range(1, i+1):
        print(j, end=" ")
    for k in range(i-1,0,-1):
        print(k, end=" ")
    print()

Enter number of rows 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
for i in range(1,10):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [ ]:
lower = int(input("Enter lower range "))
upper = int(input("Enter upper range "))

for i in range(lower, upper+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

Enter lower range 10
Enter upper range 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#continue
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,20):
    pass