In [9]:
class Myclass:
    x="ramu"
    y="raju"

In [10]:
p1=Myclass()
print(p1.x)

ramu

In [11]:
p2 = Myclass()
print(p2.y)

raju

In [12]:
class Car:
    color='blue'
    brand='mercedes'
c1=Car()
print(c1.color)
print(c1.brand)

blue
mercedes

In [13]:
#constructor __init__
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
s1=Student("Rahul",20)
print(s1.name)
print(s1.age)

Rahul
20

In [14]:
s2=Student("Ramesh",21)
print(s2.name)
print(s2.age)

Ramesh
21

In [19]:
class Car:
    def __init__(self):
        print(self)
        print("this is default constructor in python ")
c1=Car()
print(c1)

<__main__.Car object at 0x7bb7ce8e5390>
this is default constructor in python
<__main__.Car object at 0x7bb7ce8e5390>

In [20]:
class Student:
    college= "Shivalik college of engineering"
    name = "anonymous"
    def __init__(self,name):
        self.name=name
s1=Student("Rahul")
print(s1.name)
print(s1.college)

Rahul
Shivalik college of engineering

In [23]:
class College:
    department= "conputer science and engineering"
    def __init__(self,name):
        self.name=name

    def wellcome(self):
        print("welcome",self.name,"to",self.department)

    def getvalue(self):
        return self.name,self.department
c1=College("Shivalik")
c1.wellcome()
print(c1.getvalue())
c2=College("tula's")
c2.wellcome()
print(c2.getvalue())

welcome Shivalik to conputer science and engineering
('Shivalik', 'conputer science and engineering')
welcome tula's to conputer science and engineering
("tula's", 'conputer science and engineering')

In [25]:
class Student:
    def __init__(self, name, marks):
        self.name=name
        self.marks=marks

    def get_avg(self):
        sum=0
        for val in self.marks:
            sum += val
        print("hii",self.name,"your avg score is : ",sum/3)

s1= Student("Rahul",[10,20,30])
s1.get_avg()

hii Rahul your avg score is :  20.0