In [2]:
#serialization = process of converting python data types to JSON format
#deserialization = process of converting JSON to python data typs

#JSON = Javascript object notation

In [3]:
#serialization using json module
# list

import json
l=[1,2,3,4]
with open("demo.json","w") as f:
    json.dump(l,f)

In [4]:
#dict

d = {
    "name":"John",
    "age":30,
    "city":"New York"
}
with open("demo.json","w") as f:
    json.dump(d,f,indent=4)

In [5]:
#deserialization
import json
with open("demo.json","r") as f:
    data = json.load(f)
    print(data)
    print(type(data))

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [6]:
# serialize and deserialize tuple
import json
t = (1,2,3,4)
with open("demo.json","w") as f:
    json.dump(t,f)

In [15]:
class Person:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender=gender
person=Person("John",30,"Male")
with open("demo.json","w") as f:
    json.dump(person.__dict__,f)

In [19]:
def show_object(person):
    if insintance(person,Person):
        return{'name ':person.name,'age':person.age,'gender':person.gender}

    with open("demo.json","w") as f:
        json.dump(person,f,default=show_object)

In [23]:
import json

with open("demo.json",'r') as f:
    d = json.load(f)
    print(d)
    print(type(d))

{'name': 'John', 'age': 30, 'gender': 'Male'}
<class 'dict'>

In [24]:
#pickling ----> byte stream mtlb binary me convert krna

class Person:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender=gender

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Gender: {self.gender}")
person=Person("John",30,"Male")

In [25]:
person.display_info()

Name: John, Age: 30, Gender: Male

In [26]:
#pickle dump
import pickle
with open("demo.pkl",'wb')as f:
    pickle.dump(person,f)

In [27]:
import pickle
with open("demo.pkl",'rb')as f:
    p = pickle.load(f)
    p.display_info()

Name: John, Age: 30, Gender: Male